.reminder-item {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-bottom: 1px solid #d3d3d3;
  .reminder-title {
    font-size: 1.3rem;
    max-width: 10rem;
    display: inline-block;
    min-width: 10rem;
    @media (min-width: 1200px) {
      font-size: 1.4rem;
      max-width: 15rem;
      min-width: 15rem;
    }
  }
  .reminder-city {
    max-width: 12rem;
    display: inline-block;
    min-width: 12rem;
  }
  .actions-wrapper {
    display: inline-block;
    margin-left: 0.5rem;
  }
  .item-element {
    margin-right: 1.5rem;
  }
  .action-item {
    font-size: 1.7rem;
    margin-right: 1rem;

    &.anticon-edit {
      &:hover {
        color: blue;
      }
    }

    &.anticon-delete {
      &:hover {
        color: red;
      }
    }
  }
}
